{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <h3>Lorem Ipsum</h3>
            <p>If I held my breath in the morning
                Would I wake up for a lifetime
                Lose my job in this depression
                Well I don’t care cause I got your love

                In this depression
                All I need is you
                In this depression
                What is there to lose

                If I held your hand in this town
                They would lock me up for possession
                But now there strung out on heroin
                And weve gone out to California

                In this depression
                Breaks my heart in two
                In this depression
                All I need is you

                I could make some friends down at the courthouse
                Get bailed out and go on welfare
                Id rather lay down in a pine box
                Then to sell my heart to a fucking wasteland

                In this depression
                Its just me and you
                In this depression
                What are we to do
                In this depression
                Breaks my heart in two
                In this depression
                All I need is you

                If I held my breath in the morning
                Would I wake up in a new land
                Follow you forever
                Dance all night in this depression

                In this depression
                In this depression
                In this depression
                In this depression </p>
        </div>
        <div class="col-6">
            {{ div_survived_chart | safe }}
        </div>
    </div>
    <div class="row mt-5">
        {{ div_title_chart | safe }}
    </div>
    <div class="row mt-5">
        {{ div_hist_age | safe }}
    </div>
</div>

{{ script_survived_chart | safe }}
{{ script_title_chart | safe }}
{{ script_hist_age | safe }}
{% endblock %}